body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url(cont.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    
    
}
header{
    color:rgb(179, 207, 19);
    padding: 10px;
    margin: 0px;
    text-align: center;
    
}
section{

    text-align: center ;

}
table{
    text-align: center;
    font-size: 30px;
    color: white;
}
h2{
    color:white;
}

a{
 font-size: x-large;
    color:white;
    padding: 0 20px;
    opacity: 0.8;
}
button{
    cursor: pointer;
    font-size:medium;
    border-radius: 5px;
}
.nav {
    text-align: center;
    cursor: pointer;
}
.table{
   text-align: center;



}
footer {
    margin-bottom: 0;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20%;
}
