
.nav {
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding: 0;
    height: 12vh;
    align-items: center;
    
}
.navbar{
    background-color:#222; 
    padding: 10px;
    margin: 0;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    z-index: 1000;
    position: fixed;
    height: 1000;
    top: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    align-items: center;
}
#reservation{
    color: #E94155;
    position: absolute;
    margin: 30%;
}
#myvideo{
    position: fixed;
    right: 0;
    margin-left:0;
    bottom: 0;
    width: 100%;
    height:auto;
   
    z-index: -100;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 700;
    margin: 0;
}


.b{
    text-decoration: none;
}
.bb{
    color: #D23963;
    text-decoration: none;
}
.bb:hover{
    background-color: #952681;
    padding-top: 35px;
    padding-bottom: 35px;
    color:  #EF6331;
}
.bb1{
    background-color:#952681;
    padding-top: 35px;
    padding-bottom: 35px;
    color:  #EF6331;
}

.logo{
    width: 40px;
}
.logo-title{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.title{
    font-size:x-large;
    margin: 0;
    color: #EF6331;
}


.service-container {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service {
    width: auto;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.service.active::after{
    transform:translate(20);

}
.service h2 {
    color: #2c3e50;
}
.service p {
    color: #555;
}
.button {
    
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border:   #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
#Ex{
    color: #952681;
}
#plore{
    color: #D23963;
}
#Tunisia{
    color: #E94155;

}
#footertext{
    color: #f4f4f4;
    text-align: center;
}
#footer {
    position: absolute;
    background-color:#222;
    padding: 10px;
    width: 100%;
   
}