body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 97, 6);
    background-image:url() ;
}
#s{
    color:rgb(13, 5, 13) ;
}
#p{
    color: brown;
    text-align: center;
    tab-size:0vmax ;
    top: 20px;
    left: ;

 
}
header {
    background-color: #333;
    color: #f5f7f8;
    padding: 10px;
    text-align: center;
}
nav {
    cursor: pointer;
    color: red;
    font:bold;
    text-align:center ;
}